
/*resetando configurações automáticas do navegador de todo documento*/
*{ 
    margin: 0;  /*tira tds as margens*/
    padding: 0; /*a caixa sempre vai manter o que for definido no main*/
    box-sizing: border-box; /*tira as bordar acrescentadas pelo navegador*/
}

/*a lista não tem estilo*/
ul{
    list-style: none; 
}

/*configurações de BACKGROUND da página*/
body{
    background-image: url(./assets/bg.jpg); /*função para informar onde se encontra a imagem*/
    background-position: top center; /*centraliza a imagem no topo*/
    background-size: 100%; /*a imagem fica 100% da tela e não no seu tamanho original*/
    background-repeat: no-repeat; /*não permite q a imagem se repita na tela*/
    background-color: #121214; /*altera cor de fundo da pagina*/  
}

/*coloca borda em todos os elementos do main
main * { 
    border: 1px solid red;
    }*/

/*alterar FONTES de ts corpo da página de acordo com o add no html*/
body * {

    font-family: 'Inter', sans-serif;
    line-height: 160%; /*espaçamento entre as linhas*/
}

/*o Main é o pai dos elementos q estão dentro dele, logo as config colocadas aqui serão aplicadas a td q estiver dentro do main*/
main{ 
    max-width: 580px; /*largura máxima*/
    width: 90%; /*limite da largura da tela*/
    margin: auto; /*margem dos 90% dos elementos na tela*/

    display: grid; /*para desbloquear p gap para ter os espaços entre as seções*/
    gap: 24px;  

    margin-top: 32px;
}

/*Alterar cor de fontes de tds as seções/ O section referencia tds as seções*/
section{
    color: white;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100% );
    padding-top: 4px;
    border-radius: 10px;

}

section div{

    background-color: #2A2634;
    padding: 32px; /*espaços nas laterais do cartão*/
    padding-top: 24px;
    border-radius: 8px;
}

/*altera td h2 das seções*/
section h2 {
    /*font-weight: 900;
    font-size: 24px; >> o próprio navegador trouxe esta formatação*/ 
    letter-spacing: -0.47px;
}

section p{
    /*font-weight: 400;
    font-size: 16px; o próprio navegador trouxe esta formatação*/
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

/*CSS DISPLAY*/

section ul{

    display: flex; /*coloca cada li uma ao lado da outra*/
    flex-wrap: wrap;
    gap: 16px; /*este gap só funciona por conta do display flex*/
    margin-top: 24px; /*espaço entre as imagens e os textos de tds as uls*/
}

/*referencia a imagem da ul de games*/
.games-list img{ 
    width: 90px;
    border-radius: 8px;
}

.channel-list img{
    width: 70px;
    border-radius: 50%;
}

.Social-list img{
    width: 33px;
}

/*header img{
    border-radius: 50%;
    width: 120px;  
}*/


    
