
/*resetando configurações automáticas do navegador de todo documento*/
*{ 
    margin: 0;  /*tira tds as margens*/
    padding: 0; /*a caixa sempre vai manter o que for definido no main*/
    box-sizing: border-box; /*tira as bordar acrescentadas pelo navegador*/
}

/*a lista não tem estilo*/
ul{
    list-style: none; 
}

/*configurações de BACKGROUND da página*/
body{
    background-image: url(./assets/bg.jpg); /*função para informar onde se encontra a imagem*/
    background-position: top center; /*centraliza a imagem no topo*/
    background-size: 100%; /*a imagem fica 100% da tela e não no seu tamanho original*/
    background-repeat: no-repeat; /*não permite q a imagem se repita na tela*/
    background-color: #121214; /*altera cor de fundo da pagina*/  
}

/*coloca borda em todos os elementos do main
main * { 
    border: 1px solid red;
    }*/

/*alterar FONTES de ts corpo da página de acordo com o add no html*/
body * {

    font-family: 'Inter', sans-serif;
    line-height: 160%; /*espaçamento entre as linhas*/
}

header {
    padding-top: 32px; /*colocar espaço acima da imagem do header>>> tbm pode usar o padding-top*/
    height: calc(120px + 32px);
}

header div { /*config do div do header - td header segue a config*/
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100% );
    border-radius: 50%;

    display: flex; /*alinha a borda com a imagem*/
    padding: 4px;   /*preenche a borda*/
    transition: transform .7s; /*aplica a transição do transforme em 3s*/
}

/*CSS de transição*/
header div:hover{
    transform: scale(1.1); /*aumenta a imagem do header qd passar o mouse em cima*/

}

header img {
    border-radius: 50%;
    width: 100%;  
}

/*o Main é o pai dos elementos q estão dentro dele, logo as config colocadas aqui serão aplicadas a td q estiver dentro do main*/
main{ 
    max-width: 580px; /*largura máxima*/
    width: 90%; /*limite da largura da tela*/
    margin: 32px auto; /*a info 1 é referente ao topo e a base e o auto é a largura */

    display: grid; /*para desbloquear p gap para ter os espaços entre as seções*/
    gap: 24px;  

   
}

/*Alterar cor de fontes de tds as seções/ O section referencia tds as seções*/
section{
    color: white;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100% );
    padding-top: 4px;
    border-radius: 10px;

}

section div{

    background-color: #2A2634;
    padding: 32px; /*espaços nas laterais do cartão*/
    padding-top: 24px;
    border-radius: 8px;
}

/*altera td h2 das seções*/
section h2 {
    /*font-weight: 900;
    font-size: 24px; >> o próprio navegador trouxe esta formatação*/ 
    letter-spacing: -0.47px;
}

section p{
    /*font-weight: 400;
    font-size: 16px; o próprio navegador trouxe esta formatação*/
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

/*CSS DISPLAY*/

section ul{

    display: flex; /*coloca cada li uma ao lado da outra*/
    flex-wrap: wrap;
    gap: 16px; /*este gap só funciona por conta do display flex*/
    margin-top: 24px; /*espaço entre as imagens e os textos de tds as uls*/
}


section ul li {
    transition: transform .3s;
}

section ul li:hover { /*aumenta as imagens qd passa o mouse em cima*/
    transform:scale(1.1);
}

/*referencia a imagem da ul de games*/
.games-list img{ 
    width: 90px;
    border-radius: 8px;
}

.channel-list img{
    width: 70px;
    border-radius: 50%;
    border: 1px solid #443E54;
}

.Social-list img{
    width: 33px;
}

/*ANIMATION*/

/*1. Definir animação*/

/*aplicar a animação*/

header div {
    animation: fromTop .7s .4s backwards; /*informa o nome da animação criada abaixo e coloca a duração da animação*/
}


main section {
        animation: fromBottom .7s backwards; /*backwards mantém tds as propriedades definidas na animação*/
}

main section:nth-child(1) { /*pega o primeiro filho da seção*/
    animation-delay: 0;
}

main section:nth-child(2) { /*pega o segundo filho da seção*/
    animation-delay: .4s;
}

main section:nth-child(3) { /*pega o terceiro filho da seção*/
    animation-delay: .8s;
}



@keyframes fromTop /*nome da animação q escolho*/ {
    from {
        opacity: 0;
        transform: translateY(-30px) /* joga a imagem de cima pra baixo em 30px (o espaço entre a img e a borda de cima é 32px*/
    }

    to {
        transform: translateY(0); /*movimenta o header de cima para baixo até a posição atual q é 0*/
        opacity: 1;
    }
}

@keyframes fromBottom {

    from {
        opacity: 0;
        transform: translateX(-30px) /* joga a imagem de baixo pra cima em 30px (o espaço entre a img e a borda de cima é 32px*/
    }

    to {
        transform: translateX(0); /*movimenta o header de cima para baixo até a posição atual q é 0*/
        opacity: 1;
    }
}
    







    
